{% extends 'interface/base.html' %}
{% load backend_utils sekizai_tags %}

{% block content %}
<div class="legacy">
{% for name, backend in available_backends|oauth_backends %}
  {% associated backend %}
  {% if association %}
    <form class="disconnect-form" action="{% url "social:disconnect_individual" backend=name association_id=association.id %}" method="post">{% csrf_token %}
      Вы авторизировались <a class="btn btn-danger" name="{{ backend|backend_class }}" href="#">
        <i class="fa fa-{{ name|icon_name }}"></i>
        Отключиться от {{ backend|backend_name }}
      </a>
    </form>
    <a href="{% url "clients_list" backend=name %}">Список клиентов</a>
  {% else %}
    Войдите, чтобы начать работать с системой <a class="btn btn-default" name="{{ backend|backend_class }}" href="{% url "social:begin" backend=name %}">
      <i class="fa fa-{{ name|icon_name }}"></i>
      {{ backend|backend_name }}
    </a>
  {% endif %}
{% endfor %}
</div>

{% addtoblock "js" %}
<script type="text/javascript">
  $(function () {
    $('.disconnect-form').on('click', 'a.btn', function (event) {
      event.preventDefault();
      $(event.target).closest('form').submit();
    });
  });
</script>
{% endaddtoblock %}
{% endblock %}
