{% extends 'interface/base.html' %}
{% load staticfiles bootstrap3 %}

{% block content %}

   <div class="container-center">

      <form class="form-signin" method="POST" action=".">
        {% csrf_token %}
        <h2 class="form-signin-heading">Введите логин и пароль</h2>
        {% bootstrap_form form %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
      </form>

    </div> <!-- /container -->
{% endblock %}
