{% extends 'interface/base.html' %}

{% block content %}

   <div class="container">

      <p>Вы вышли из системы. Чтобы войти в систему нужно ввести <a href="{% url 'login' %}">еще раз логин и пароль</a></p>
    </div> <!-- /container -->
{% endblock %}

