{% extends 'interface/base.html' %}

{% block content %}
<p><a href="{% url 'campaigns_list' backend=backend username=username %}">&larr; Вернуться назад</a></p>
<table class="table">
    <tr>
        <th colspan="5" class="text-center">Список баннеров</th>
    </tr>
    <tr>
        <th>Заголовок</th>
        <th>Текст</th>
        <th>Ссылка</th>
    </tr>
    {% for banner in banners %}
    <tr>
        <td>{{ banner.Title }}</td>
        <td>{{ banner.Text }}</td>
        <td><a href="{{ banner.href }}">{{ banner.href }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

