{% extends 'interface/base.html' %}

{% block content %}
<p><a href="{% url 'clients_list' backend=backend %}">&larr; Вернуться назад</a></p>
<table class="table">
    <tr>
        <th colspan="5" class="text-center">Список кампаний</th>
    </tr>
    <tr>
        <th>Название</th>
        <th>Старт кампании</th>
        <th>Осталось средств</th>
        <th>Количество кликов</th>
        <th>Название агентства</th>
        <th>&nbsp;</th>
    </tr>
    {% for campaing in campaings %}
    <tr>
        <td>{{ campaing.Name }}</td>
        <td>{{ campaing.StartDate }}</td>
        <td>{{ campaing.Rest }}</td>
        <td>{{ campaing.Clics }}</td>
        <td>{{ campaning.AgenceName }}</td>
        <td><a href="{% url "banners" backend=backend username=campaing.Login campaing_id=campaing.CampaignID %}">Информация о баннерах</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
