{% extends 'interface/base.html' %}

{% block content %}
<p><a href="/">&larr; Вернуться назад</a></p>
<table class="table">
    <tr>
        <th colspan="5" class="text-center">Список клиентов, подключенных к системе Яндекс.Директ</th>
    </tr>
    <tr>
        <th>Логин</th>
        <th>ФИО</th>
        <th>Телефон</th>
        <th>Эл. почта</th>
        <th>Дата регистрации</th>
        <th>&nbsp;</th>
    </tr>
    {% for client in clients %}
    <tr>
        <td><a href="{% url "client_info" backend=backend username=client.Login  %}">{{ client.Login }}</a></td>
        <td>{{ client.FIO }}</td>
        <td>{{ client.Phone|default:"--" }}</td>
        <td>{{ client.Email }}</td>
        <td>{{ client.DateCreate|date:"%d.%m.%Y" }}</td>
        <td><a href="{% url "campaigns_list" backend=backend username=client.Login %}">Посмотреть компании</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
